.block
	.clearfix.m2.p2.max-width-main.absolute-center.left-align.h4.full-width
		.block.gray
			HOME
			&nbsp;&nbsp;
			ABOUT
			&nbsp;&nbsp;
			CONTACT US
			&nbsp;&nbsp;
			= link_to 'ADMIN', controller: 'campgrounds'
.block.border-top.bg-darken-4
	.clearfix.m2.max-width-main.absolute-center.center.h5
		Privacy Policy
		&nbsp;
		%span= h("|")
		&nbsp;
		Terms of Service
		&nbsp;
		%span= h("|")
		&nbsp;
		%i.fa.fa-copyright
		2015 CAMPEIGHT
		%br/
		%a.h4.black{:href => "#", :title => "we tweet!"}
			%i.fa.fa-twitter.grow
		&nbsp;
		%a.h4.black{:href => "#", :title => "we instagram!"}
			%i.fa.fa-instagram.grow
		&nbsp;
		%a.h4.black{:href => "#", :title => "we pinterest!"}
			%i.fa.fa-pinterest-p.grow
		%br/
		%br/
		%br/