.block
	.clearfix.m2.p2.max-width-main.absolute-center.left-align.h5.full-width
		.block.gray
			HOME
			&nbsp;&nbsp;
			ABOUT
			&nbsp;&nbsp;
			CONTACT US
			&nbsp;&nbsp;
			%a.gray{:href => "#", :title => "email us!"}
				%i.fa.fa-envelope.grow
			&nbsp;
			%a.gray{:href => "#", :title => "we tweet!"}
				%i.fa.fa-twitter.grow
			&nbsp;
			%a.gray{:href => "#", :title => "we instagram!"}
				%i.fa.fa-instagram.grow
			&nbsp;
			%a.gray{:href => "#", :title => "we pinterest!"}
				%i.fa.fa-pinterest-p.grow
.block.border-top.bg-darken-4
	.clearfix.m2.max-width-main.absolute-center.center.h6
		Privacy Policy
		%span= h(" | ")
		Terms of Service
		%span= h(" | ")
		%i.fa.fa-copyright
		2015 CAMPTRIP
		%br/
		%i.fa.fa-tree.fa-lg
		%br/
		%br/